<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Publicação</title>
</head>
<body>
    <h1>Crie sua Postagem</h1>
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Salvar</button>
        <a href="{% url 'main' %}">Mudei de Ideia</a>
    </form>
</body>
</html>